<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/Home/index">Retour</a>
<h1>Liste des inventaire : </h1>

{% for inventaire in inventaires %}

    <h2>{{ inventaire.nom }}</h2>
    <p>{{ inventaire.vue }}</p>
    <p>{{ inventaire.posseder }}</p>


{% endfor %}



</body>
</html>