{% extends 'layout.html.twig' %}

{% block content %}

<div class="container">
    <div class="game-space">
        <div class="game-box">
            <img src="/assets/images/locations/location-16.jpg">
            <a href="/location/index/15" class="location-pointer col1 row5 rot225"></a>
            <a href="/location/index/17" class="basement-door link"></a>
            <a href="/location/index/19" class="kitchen link"></a>
            <a href="/location/index/20" class="office link"></a>
        </div>
    </div>
</div>

{% endblock %}