{% extends 'layout.html.twig' %}

{% block content %}

{% include 'Inventaire/inventory.html.twig' %}

<div class="container">
    <div class="game-space">
        <div class="game-box">
            <img src="/assets/images/locations/location-15.jpg">
            <a href="/location/index/16" class="location-pointer col3 row4"></a>
            <a href="/location/index/14" class="location-pointer col1 row4 rot270"></a>
            {% if inventaires.posseder == 0 %}
                <a href="/inventaire/possederInventory/15/1" class="knife-link inventory-link"><img src="/assets/images/inventory/knife.png"> </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}