{% extends 'layout.html.twig' %}

{% block content %}

<div class="container">
    <div class="game-space">
        <div class="game-box">
            <img src="/assets/images/locations/location-5.jpg">
            <a href="/Location/index/4" class="location-pointer col3 row5 rot180"></a>
            <form method = "POST">
                <input type="number" maxlength="4" name="digicode" id="digicode">
                <input type="submit">
            </form>
        </div>


    </div>


</div>

{% endblock %}