{% extends 'layout.html.twig' %}

{% block content %}

<div class="container">
    <div class="game-space">
        <div class="game-box">
            <img src="/assets/images/locations/location-20.jpg">
            <a href="/location/index/22" class="location-pointer col4 row3 rot45"></a>
            <a href="/location/index/16" class="location-pointer col3 row5 rot180"></a>
            <a href="/location/index/21" class="manager link"></a>
        </div>
    </div>
</div>

{% endblock %}