{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="game-space">
            <div class="game-box">
                <img src="/assets/images/game/gameover.png">
            </div>
        </div>
    </div>

{% endblock %}