{% extends 'layout.html.twig' %}

{% block content %}

{% include 'Inventaire/inventory.html.twig' %}

<div class="container">
    <div class="game-space">
        <div class="game-box">
            <img src="/assets/images/locations/location-17.jpg">
            <a href="/location/index/16" class="location-pointer col1 row5 rot180"></a>
            <a href="/location/index/18" class="basement-door-open link"></a>
        </div>
    </div>
</div>

{% endblock %}