{% extends 'layout.html.twig' %}

{% block content %}

<div class="container">
    <div class="game-space">
        <div class="game-box">
            <img src="/assets/images/locations/location-9.jpg">
            <a href="/location/index/10" class="elevator-button5 link"></a>
            <a href="/location/index/6" class="elevator-button0 link"></a>
        </div>
    </div>
</div>

{% endblock %}