{% extends 'layout.html.twig' %}

{% block content %}

{% include 'Inventaire/inventory.html.twig' %}
<div class="container">
    <div class="game-space">
        <div class="game-box">
            <a class="play-button" href="/location/index/1">Play</a>
        </div>
    </div>
</div>
{% endblock %}