{% extends 'layout.html.twig' %}

{% block content %}

<style type="text/css">.game-space {height: 100%;}.game-box {overflow: scroll;}</style>
<div class="container">
    <div class="game-space">
        <div class="game-box">
            <form class="chose-personnages" method="post">
            {% for perso in personnages %}
                <div class="personnage-case">
                    <div class="personnage-case-radio">
                        <input name="id" value="{{ perso.id }}" type="hidden">
                        <input name="selectionner" type="radio" value="1" >
                    </div>
                    <div class="personnage-case-img">
                        <img src="/assets/images/perso/{{ perso.fichier }}">
                    </div>
                    <div class="personnage-case-name">
                        <label for="id">{{ perso.prenom }} {{ perso.nom }}</label>
                    </div>
                </div>
            {% endfor %}
                <input type="submit">
            </form>
            <a class="play-button" href="/location/index/1">Play</a>
        </div>
    </div>
</div>

{% endblock %}