<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>Voulez vous ...</h1>

<a href="/Monsters/showAll"><p>Voir les monstres ?</p></a>
<a href="/Movies/showAll"><p>Voir les films ?</p></a>
<a href="/Personnages/showAll"><p>Voir les personnages ?</p></a>


</body>
</html>