{% extends 'layout.html.twig' %}

{% block content %}

{% include 'Inventaire/inventory.html.twig' %}
<h1>Voulez vous ...</h1>

<a href="/Monsters/showAll"><p>Voir les monstres ?</p></a>
<a href="/Movies/showAll"><p>Voir les films ?</p></a>
<a href="/Personnages/showAll"><p>Voir les personnages ?</p></a>
<a href="/Inventaire/showAll"><p>Voir l'inventaire ?</p></a>

{% endblock %}
