<!DOCTYPE html>

<html lang="en">

<head>
    <title>PickaChu</title>
    <meta name="description" content="Webpage description goes here" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
</head>

<body>
{% block content %}{% endblock %}
{% block javascript %}{% endblock %}



</body>
</html>