/* Global */

body {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}

/* User box */

.gamer-space {
    height: 100px;
    width: 100%;
    background-color: #1c1b1b;
    z-index: 10;
}
.gamer-space img {
    height:   54px;
    padding: 4px;
}
.inventory-objects {
    width: 50%;
    float: right;
    background-color: #391212;
    height: 86px;
    border-radius: 5px;
    margin: 6px;
}
.inventory-objects h1 {
    font-size: 18px;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    color: #ffffff94;
    font-weight: unset;
    font-family: 'Verdana';
}


/* Game space */

.play-button {
    background-color: #1ea41e;
    transform: translateY(-50%);
    text-decoration: unset;
    position: relative;
    text-align: center;
    border-radius: 5px;
    line-height: 50px;
    font-size: 27px;
    display: block;
    width: 100px;
    height: 50px;
    color: #fff;
    margin: 0 auto;
    top: 50%;
}
.play-button:hover {
    background-color: #22b322;
}
.game-space {
    width: 100%;
    height:  calc(100% - 100px);
    position: absolute;
    background-image: url("/assets/images/game/texture.jpg");
}
.game-box {
    width: 960px;
    height: 540px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    transform: translateY(-50%);
    border-radius: 10px;
    top: 50%;
}

/* Location pointer */

.location-pointer {
    background-image: url('/assets/images/game/arrow.png');
    background-repeat: no-repeat;
    background-size: 150px;
    position: absolute;
    display: block;
    width: 150px;
    height: 36px;
}

/* Pointers columns */

.row1 {
    top: calc(10% - 18px);
}
.row2 {
    top: calc(30% - 18px);
}
.row3 {
    top: calc(50% - 18px);
}
.row4 {
    top: calc(70% - 18px);
}
.row5 {
    top: calc(90% - 18px);
}

/* Pointers rows */

.col1 {
    left: calc(10% - 75px);
}
.col2 {
    left: calc(30% - 75px);
}
.col3 {
    left: calc(50% - 75px);
}
.col4 {
    left: calc(70% - 75px);
}
.col5 {
    left: calc(90% - 75px);
}

/* Pointers rotation */

.rot45 {
    transform: rotate(45deg);
}
.rot95 {
    transform: rotate(95deg);
}
.rot135 {
    transform: rotate(135deg);
}
.rot180 {
    transform: rotate(180deg);
}
.rot225 {
    transform: rotate(225deg);
}
.rot270 {
    transform: rotate(270deg);
}
.rot315 {
    transform: rotate(315deg);
}

/* Transparent links to locations */

.link {
    display: block;
    position: absolute;
    /*background-color: red;*/
    opacity: 0.3;
    border-radius: 10px;
}
.link:hover {
    background-color: #fff;
    opacity: 0.1;
}
.digicode {
    width: 24px;
    height: 50px;
    top: 50%;
    left: 55%;
}
.door1 {
    width: 126px;
    height: 303px;
    top: 25%;
    left: 29%;
}
.panel {
    width: 43px;
    height: 84px;
    top: 24%;
    left: 48%;
}
.elevator {
    width: 175px;
    height: 488px;
    top: 8%;
    left: 25%;
}
.elevator-buttons {
    width: 30px;
    height: 101px;
    top: 37%;
    left: 52%;
}
.elevator-blood {
    width: 113px;
    height: 200px;
    top: 81%;
    left: 34%;
    transform: rotate(68deg);
}
.elevator-button5 {
    width: 59px;
    height: 56px;
    top: 35%;
    left: 56%;
}
.elevator-button0 {
    width: 64px;
    height: 56px;
    top: 71%;
    left: 42%;
}
.placard {
    width: 106px;
    height: 526px;
    left: 81%;
    top: 2%;
    transform: rotate(2deg);
}
.door2 {
    width: 185px;
    height: 420px;
    top: 17%;
    left: 18%;
}
.keybox1 {
    width: 75px;
    height: 165px;
    top: 36%;
    left: 33%;
}
.keybox2 {
    width: 248px;
    height: 326px;
    left: 40%;
    top: 18%;
}
.handle1 {
    width: 90px;
    height: 220px;
    top: 35%;
    left: 49%;
}
.basement-door {
    width: 85px;
    height: 265px;
    left: 76%;
    top: 55%;
    transform: skew(0deg, 24deg);
}
.kitchen {
    width: 67px;
    height: 360px;
    top: 24%;
    left: 27%;
}
.office {
    width: 142px;
    height: 203px;
    top: 0;
    left: 56%;
}
.basement-door-open {
    width: 477px;
    height: 436px;
    top: 19%;
    left: 29%;
}
.manager {
    width: 295px;
    height: 100%;
    top: 0;
}
.door3 {
    width: 296px;
    height: 100%;
    top: 0;
    left: 60%;
}
.handle2 {
    width: 280px;
    height: 218px;
    top: 33%;
    left: 44%;
}

/* Inventory links */

.inventory-link {
    position: absolute;
}
.digicode-link {
    top: 37%;
    width: 50px;
    left: 87%;
}
.axe-link, .axe-link img {
    width: 160px;
}
.axe-link {
    top: 36%;
    transform: rotate(285deg);
    left: 26%;
}
.crowbar-link {
    width: 150px;
    top: 49%;
    left: 31%;
    transform: rotate(206deg);
}
.knife-link {
    top: 56%;
    width: 105px;
    left: 78%;
    transform: rotate(328deg);
}
.extinguisher-link {
    top: 23%;
    width: 300px;
    left: 38%;
    transform: rotate(56deg);
}
.key-link {
    top: 26%;
    width: 200px;
    left: 33%;
    transform: rotate(-8deg);
}

/* Monsters */

.monster {
    display: block;
    position: absolute;
}
.deadSlave {
    height: 365px;
    top: 10%;
    left: 40%;
    overflow: hidden;
}
.deadSlave, .deadSlave img {
    width: 250px;
}
.carrionScreecher {
    top: 0;
    left: 35%;
}
.demoniacCat {
    top: 12%;
    left: 37%;
}
.corpseBlockade, .corpseBlockade img {
    width: 400px;
}
.corpseBlockade {
    top: -12%;
    left: 39%;
}