<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/Home/index">Retour</a>
<h1>Liste des movie : </h1>


    {% for mov in movies %}
        <h2>{{ mov.title }}</h2>
        <p>{{ mov.director }}</p>
        <img src="{{ mov.posterUrl }}">
    {% endfor %}

</body>
</html>